.error {
    color: red;
}

.Sms {
    
}

#smsDelete {
    background-color: red;
    padding: 1em 1em 1em 1em;
    width: 10em;
    color: black;
    text-align: center;
    border-radius: 10px;
}

#smsDelete:hover {
    background-color: pink;
}