doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='theme-color', content='#000000')
    link(rel='manifest', href='/manifest.json')
    link(rel='shortcut icon', href='/favicon.ico')
    title React App
    link(href='/static/css/main.9ad74fd8.css', rel='stylesheet')
  body
    block content