.connect-to-chat {
    background-color: grey;
    width: 6.5rem;
    padding: 15px;
    border-radius: 15px;
    text-align: center;
}

.connect-to-chat:hover {
    background-color: #ddd;
    cursor: pointer;
}

.launch-chat {
    color: black;
}

.launch-chat:hover {
    color: black;
}

.home {
    display: flex;
    flex-direction: column;
}