.Header {
  height: 60px;
  line-height: 60px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  font-family: georgia, sans-serif;
  border-bottom: 1px solid grey;
}

.HeaderTitle {
  color: pink;
}

ul {
  list-style: none;
  margin: 0;
}

li {
  display: inline-block;
  margin: 0 20px;
}